<!-- About  -->
<section class="section section-gap-bottom about-section">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-xs-12 col-sm-7 col-lg-6 order-sm-1 order-lg-1">
        <div class="section-content" data-aos="fade-left" data-aos-duration="1000">
          <h4 class="sub-heading">Who We Are</h4>
          <h2 class="heading">A Credible Testing Laboratory</h2>

          <ul class="list-unstyled list-style">
            <li>
              <span class="list-icon primary-color">
                <i aria-hidden="true" class="fas fa-check"></i>
              </span>
               More than 4 decades of testing experience</li>
            <li>
              <span class="list-icon primary-color">
                <i aria-hidden="true" class="fas fa-check"></i>
              </span>
              Sophisticated instrumentation and set up as per the latest norms
            </li>
            <li>
              <span class="list-icon primary-color">
                <i aria-hidden="true" class="fas fa-check"></i>
              </span>
              All testing solutions under one roof
            </li>
            <li>
              <span class="list-icon primary-color">
                <i aria-hidden="true" class="fas fa-check"></i>
              </span>
              Instrumentation includes but not limited to LCMSMS, GCMSMS, HPLC, GC, ICP, UV-Vis spec, FTIR, ATR,
              Particle size analyser, Ion chromatograph, Dissolution apparatus, State of the art Microbiological
              facility, Stability chambers etc.
            </li>
            <li>
              <span class="list-icon primary-color">
                <i aria-hidden="true" class="fas fa-check"></i>
              </span>
              Govt. approved, QMS certified lab
            </li>
          </ul>
          <a type="button" class="btn primary-btn" href="/about/">Know More
            <i aria-hidden="true" class="fas fa-arrow-right pl-1"></i>
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-5 col-lg-6 my-5 order-sm-2 order-lg-2">
        <div class="about-image text-center" data-aos="fade-right" data-aos-duration="1000">
          <img src="{% assets 'images/home/home-aboutus.png'%}" alt="Laboratory" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About -->