<!-- Achievements -->
<section id="achievements" class="section section-gap achievements-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-lg-6 section-content" data-aos="fade-left" data-aos-duration="1000">
        <h2 class="heading">Our Achievements, So Far!</h2>
        <p class="desc">Our mission, Vision and philosophy has helped us grow into various horizons while maintaining the customer
          satisfaction and commitment.</p>
        <ul class="list-unstyled list-style">
          <li class="secondary-color text-bold">
            <span class="list-icon primary-color">
                <i aria-hidden="true" class="fas fa-check-circle"></i>
              </span>
            Years of Experience 35+</li>
          <li class="secondary-color text-bold">
            <span class="list-icon primary-color">
                <i aria-hidden="true" class="fas fa-check-circle"></i>
              </span>
            Client satisfaction 90%</li>
          <li class="secondary-color text-bold">
            <span class="list-icon primary-color">
                <i aria-hidden="true" class="fas fa-check-circle"></i>
              </span>
            Samples tested 1 Millon +</li>
          <li class="secondary-color text-bold">
            <span class="list-icon primary-color">
                <i aria-hidden="true" class="fas fa-check-circle"></i>
              </span>
            Clients 400+</li>
        </ul>
      </div>
      <div class="offset-lg-1 col-xs-12 col-sm-6 col-lg-4 pl-lg-5">
        <div class="features-cards" data-aos="fade-right" data-aos-duration="500">
          <div class="card bg-secondary" data-aos="flip-left" data-aos-duration="2000">
            <h3 class="text-white">35+</h3>
            <p class="text-white">Years of Experience</p>
          </div>

          <div class="card" data-aos="flip-right" data-aos-duration="2200">
            <h3>90%</h3>
            <p>Client Satisfaction</p>
          </div>

          <div class="card" data-aos="flip-right" data-aos-duration="2500">
            <h3>1M+</h3>
            <p>Samples Tested</p>
          </div>

          <div class="card bg-primary" data-aos="flip-left" data-aos-duration="2700">
            <h3 class="text-white">400+</h3>
            <p class="text-white">Clients</p>
          </div>


        </div>
      </div>
    </div>
  </div>
</section>
<!-- Achievements -->