<!-- Certificate -->
<section class="section-gap certificate-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xs-12 col-sm-12 col-lg-5 section-content" data-aos="fade-right" data-aos-duration="1000">
        <h2 class="heading">Certificate of Appreciation</h2>
        <p class="desc">In recognition of outstanding contributions towards Indirect Taxes received a Certificate of Appreciation from the
        Ministry of Finance.</p>
      </div>
      <div class="col-xs-12 col-sm-12 col-lg-7 certificate-image ml-5 pl-5 pt-sm-5" data-aos="fade-left" data-aos-duration="1000">
        <img src="{% assets 'images/home/certificate-of-appreciation.jpg'%}" alt="Certificate of Appreciation" class="img-fluid" />
      </div>
    </div>
  </div>
</section>
<!-- Certificate -->