<!--Clients -->
<section class="brand-section my-5 pt-4 client-section">
  <div class="container">
    <div class="row align-items-center">
      <!-- Header -->
      <div class="col-sm-12 col-lg-12">
        <h4 class="heading text-center">SOME OF THE BEST CLIENTS WE SERVE</h4>
      </div>
      <!-- Header -->

      <!-- Brand Images -->
      <div class="brands justify-content-sm-center" data-aos="fade-up" data-aos-duration="1000">
        <div class="col-6 col-sm-2 col-lg-2 mb-5"><img src="{% assets 'images/home/clients/p_g.png'%}" alt="Merck / P & G" class="img-fluid"></div>
        <div class="col-6 col-sm-2 col-lg-2 mb-5"><img src="{% assets 'images/home/clients/glenmark.png'%}" alt="Glenmark" class="img-fluid"></div>
        <div class="col-6 col-sm-2 col-lg-2 mb-5"><img src="{% assets 'images/home/clients/usv.png'%}" alt="USV Privite Limited" class="img-fluid"></div>
        <div class="col-6 col-sm-2 col-lg-2 mb-5"><img src="{% assets 'images/home/clients/zuventus.png'%}" alt="Zuventus Healthcare" class="img-fluid"></div>
        <div class="col-6 col-sm-2 col-lg-2 mb-5"><img src="{% assets 'images/home/clients/bharat_serum.png'%}" alt="Bharat Serums"  class="img-fluid"></div>
        <div class="col-6 col-sm-2 col-lg-2 mb-5"><img src="{% assets 'images/home/clients/wockhardt.png'%}" alt="Wockhardt" class="img-fluid"></div>
      </div>
      <!-- Brand Images -->
    </div>
  </div>
</section>
<!-- Clients -->