<!-- Director -->
<section class="section testimonial-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-sm-6 col-lg-5 testimonial-image order-2 order-sm-1 order-lg-1">
        <img src="{% assets 'images/home/businessMan.png'%}" alt="Dr. Atul Pusalkar" class="img-fluid" data-aos="fade-right" data-aos-duration="1000">
      </div>
      <div class="col-12 offset-lg-2 col-sm-6 col-lg-5 testimonial-content order-1 order-sm-2 order-lg-2" data-aos="fade-left" data-aos-duration="1000">
        <p class="desc">"Our mission is to enhance quality of our testing services and our customer’s satisfaction with our
          philosophy 3C – Commitment, Consistency and Credibility. Working with all our customers, we aim to grow
          sustainably with the industry"</p>
        <p class="author">Dr. Atul Pusalkar ( Director)</p>
        <div>
          <a href="/about/" class="btn primary-btn">Know More <i class="fas fa-arrow-right pl-1"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Director -->