<!-- Services -->
<section id="services" class="section section-gap" data-aos="fade-up">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-header text-center mb-5">
          <h4 class="sub-heading">What We Do</h4>
          <h2 class="heading">Committed To Quality</h2>
        </div>

        <div class="services-grid">
          <div class="service-card">
            <div class="service-icon">
              <i aria-hidden="true" class="fas fa-pump-medical"></i>
            </div>
            <h3>Pharmaceutical & Cosmetics Testing</h3>
            <p> Qualitative and quantitative tests both chemical and microbiological</p>
          </div>
          <div class="service-card">
            <div class="service-icon">
              <i aria-hidden="true" class="fas fa-cubes"></i>
            </div>
            <h3>Food & Agriculture Testing</h3>
            <p>Qualitative and quantitative tests both chemical and microbiological, Nutritional labelling etc.</p>
          </div>
          <div class="service-card">
            <div class="service-icon">
              <i aria-hidden="true" class="fas fa-globe"></i>
            </div>
            <h3>Packaging material Testing</h3>
            <p>Physical tests and chemical tests.</p>
          </div>
          <div class="service-card">
            <div class="service-icon">
              <i aria-hidden="true" class="fas fa-folder-open"></i>
            </div>
            <h3>Impurity and Elemental Profiling</h3>
            <p>Using Chromatographic methods likes HPLC, LCMSMS, GCMSMS</p>
          </div>
          <div class="service-card">
            <div class="service-icon">
              <i aria-hidden="true" class="fas fa-vector-square"></i>
            </div>
            <h3>Medical devices Testing</h3>
            <p>For microbial contamination, BET, physical tests etc.</p>
          </div>
          <div class="service-card">
            <div class="service-icon">
              <i aria-hidden="true" class="fas fa-window-restore"></i>
            </div>
            <h3>Container stuffing & sealing</h3>
            <p>For Export oriented services</p>
          </div>
        </div>

        <div class="d-flex justify-content-center mt-5">
          <a type="button" class="btn primary-btn text-center" href="/services/">See All Services <i aria-hidden="true"
              class="fas fa-arrow-right pl-1"></i> </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Services -->