<!-- About -->
<section class="section section-gap">
  <div class="container">
    <div class="row align-items-center">

      <!-- Section: Image -->
      <div class="col-12 col-lg-6 order-2 d-flex justify-content-sm-center">
        <div class="image-container">
          <img src="{% assets 'images/career/work-with-us.png' %}" alt="Why Work With Us Image" class="img-fluid" data-aos="fade-right" data-aos-duration="1000">
        </div>
      </div>

      <!-- Section: Title, Description, and Features -->
      <div class="col-12 col-lg-6 order-1">
        <div class="section-content">
          <h2 class="heading" data-aos="fade-up" data-aos-duration="1000">Laboratory Information Management System (LIMS)</h2>
          <p class="desc" data-aos="fade-up" data-aos-duration="1000">Complete tracking and handling of samples and report from the entry point to the disposal stage – all in one software.</p>
        </div>
        <ul class="list-unstyled list-style">
          <li data-aos="fade-up" data-aos-duration="1100"><i class="fas fa-check-circle primary-color"></i> Digital report provision</li>
          <li data-aos="fade-up" data-aos-duration="1200"><i class="fas fa-check-circle primary-color"></i> Customer login and access</li>
          <li data-aos="fade-up" data-aos-duration="1300"><i class="fas fa-check-circle primary-color"></i> Digital sample handling and tracking</li>
          <li data-aos="fade-up" data-aos-duration="1400"><i class="fas fa-check-circle primary-color"></i> Notifications for Staff and customers</li>
          <li data-aos="fade-up" data-aos-duration="1500"><i class="fas fa-check-circle primary-color"></i> Data integrity</li>
          <li data-aos="fade-up" data-aos-duration="1600"><i class="fas fa-check-circle primary-color"></i> Time saving, automated and error-free</li>
        </ul>
      </div>

    </div>
  </div>
</section>
<!-- About -->