<!-- Quality & Assurance Policy -->

<section class="section section-gap quality-section">
  <div class="container">
    <div class="row align-items-center">
      <!-- Left Section: Title and Description -->
      <div class="col-lg-6 mb-4 mb-lg-0">
        <div class="section-content">
          <h2 class="heading" data-aos="fade-up" data-aos-duration="1000">Quality Policy & Assurance</h2>
          <p class="desc" data-aos="fade-up" data-aos-duration="1000">
            A 4-level QMS built on the policy of “Say what you do” “Do what you say” & “Record it”.
          </p>
        </div>
      </div>

      <!-- Right Section: Feature Cards -->
      <div class="col-lg-6 cards">
        <div class="row">
          <div class="col-12 col-sm-6 col-lg-6">
            <!-- Card 1 -->
            <div class="quality-card" data-aos="flip-left" data-aos-duration="1000">
              <div class="icon">
                <i class="fas fa-wallet"></i>
              </div>
              <h5>Established 4-level Quality Management system</h5>
            </div>

            <!-- Card 2 -->
            <div class="quality-card" data-aos="flip-right" data-aos-duration="1500">
              <div class="icon">
                <i class="fas fa-credit-card"></i>
              </div>
              <h5>Impartiality and confidentiality followed</h5>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-lg-6 mt-5">
            <!-- Card 3 -->

            <div class="quality-card" data-aos="flip-left" data-aos-duration="2000">
              <div class="icon">
                <i class="fas fa-globe"></i>
              </div>
              <h5>Data review and integrity applied as per 21CFR Part 11 & ALCOA+ policy</h5>
            </div>

            <!-- Card 4 -->

            <div class="quality-card" data-aos="flip-right" data-aos-duration="2500">
              <div class="icon">
                <i class="fas fa-globe-americas"></i>
              </div>
              <h5>Validation Master planners</h5>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<!-- Quality & Assurance Policy -->