<!-- About -->
<section class="section section-gap">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="about-image text-center position-relative" data-aos="fade-right" data-aos-duration="1000">
          <img src="{% assets 'images/about/about-chemo.png'%}" alt="Laboratory" class="img-fluid" style="width: 80%;">

          <div class="label-over" data-aos="fade-up" data-aos-duration="2000">
            Serving Since 1984
          </div>

        </div>
      </div>
      <div class="col-12 col-lg-6 mt-5 mt-lg-0">
        <div class="section-content" >
          <h2 class="heading" data-aos="fade-up" data-aos-duration="1000">About Chemo Test Laboratory</h2>
          <p class="desc" data-aos="fade-up" data-aos-duration="1500">Established in 1984, Chemo Test Laboratory is a government approved public testing laboratory
            catering the need of Drug
            & Pharmaceutical, Food & Agricultural, Cosmetics, Water industry for its testing services. The laboratory is
            having two
            independent premises having Chemical, Instrumentation, Microbiology, Sterility, Stability studies divisions
            and equipped
            with all sophisticated instruments.</p>

          <p class="desc" data-aos="fade-up" data-aos-duration="2000">Chaired and Managed by a family of Doctorates, Chemo Test Laboratory has been into the Quality
            control industry for more
            than 4 decades, supporting various National and overseas companies for their third party testing, research
            and
            outsourcing needs.</p>

          <p class="desc" data-aos="fade-up" data-aos-duration="2500">Chemo Test’s business landscape covers analytical testing, stability studies, analytical
            method development, and
            validation, area validation, it also covers services like physical inspection, survey, sampling, and
            sealing.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About -->