<!-- CEO Message -->
<section class="section section-gap">
  <div class="container">
    <div class="row row align-items-center">

      <div class="col-12 col-lg-5 order-2 order-lg-1" data-aos="fade-right" data-aos-duration="1000">
        <div class="image-frame mx-auto">
          <img src="{% assets 'images/about/ceo.png'%}" alt="Dr. Borna Basu (CEO/ Technical Director) " class="img-fluid">
        </div>
      </div>

      <div class="col-12 col-lg-7 order-1 order-lg-2 px-5">
        <div class="section-content" data-aos="fade-left" data-aos-duration="1000">
          <h2 class="heading">CEO's Message</h2>
          <p class="desc">
              For over 35 years, Chemo Test Laboratory has been committed to deliver authentic & reliable results. Our team achieves
              this by embedding hard work, technology and logical thinking into all its services, even in the highest pressure and
              time sensitive situations. We treat all clients with highest dedication & responsibility. This approach has helped us
              built strong relationship with our clients, many utilising over services continuously over the years. We pursue
              continuous growth while adapting and abiding the major changes and development in the industry. We aim to become No. 1 laboratory in customer satisfaction by striving to create and reproduce our services at their best.
          </p>
          <p class="text-bold">– Dr. Borna Basu (CEO/ Technical Director)</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- CEO Message -->