<!-- Clients -->
<section class="section">
  <div class="container brands-section">
    <!-- Section Title -->
    <div class="section-content" data-aos="fade-up" data-aos-duration="1000">
      <h2 class="heading">Esteemed Customers</h2>
      <p class="desc">Our pride: our customers, national and international</p>
    </div>

    <!-- Logos Grid -->
    <div class="row justify-content-center align-items-center" data-aos="fade-up" data-aos-duration="1500">
      <div class="col-6 col-sm-3 col-md-3 col-lg-2">
        <img src="{% assets 'images/home/clients/p_g.png'%}" alt="Merck / P & G" class="brand-logo">
      </div>
      <div class="col-6 col-sm-3 col-md-3 col-lg-2">
        <img src="{% assets 'images/home/clients/glenmark.png'%}" alt="Glenmark" class="brand-logo">
      </div>
      <div class="col-6 col-sm-3 col-md-3 col-lg-2">
        <img src="{% assets 'images/home/clients/usv.png'%}" alt="USV Privite Limited" class="brand-logo">
      </div>
      <div class="col-6 col-sm-3 col-md-3 col-lg-2">
        <img src="{% assets 'images/home/clients/zuventus.png'%}" alt="Zuventus" class="brand-logo">
      </div>
      <div class="col-6 col-sm-3 col-md-3 col-lg-2">
        <img src="{% assets 'images/home/clients/bharat_serum.png'%}" alt="Bharat Serums" class="brand-logo">
      </div>
      <div class="col-6 col-sm-3 col-md-3 col-lg-2">
        <img src="{% assets 'images/home/clients/wockhardt.png'%}" alt="Wockhardt" class="brand-logo">
      </div>
      <div class="col-6 col-sm-3 col-md-3 col-lg-2">
        <img src="{% assets 'images/home/clients/shalina.png'%}" alt="Shalina" class="brand-logo">
      </div>
      <div class="col-6 col-sm-3 col-md-3 col-lg-2">
        <img src="{% assets 'images/home/clients/haffkine.png'%}" alt="Haffkine" class="brand-logo">
      </div>
      <div class="col-6 col-sm-3 col-md-3 col-lg-2">
        <img src="{% assets 'images/home/clients/lupin.png'%}" alt="Lupin" class="brand-logo">
      </div>
      <div class="col-6 col-sm-3 col-md-3 col-lg-2">
        <img src="{% assets 'images/home/clients/ajanta.png'%}" alt="Anjanta" class="brand-logo">
      </div>
    </div>
  </div>
</section>
<!-- Clients -->