<!-- Mission Vission -->
<section class="section section-gap">
  <div class="container">
    <div class="row mission-vision align-items-center">
      <!-- Text Content -->
      <div class="col-12 col-sm-6 col-lg-6">
        <div class="section-content" data-aos="fade-right" data-aos-duration="1000">
          <h2 class="heading">Our Mission</h2>
          <p class="desc">
            To help our customers fulfill their Analytical Testing needs & to remain committed
            to high standards of services by employing stringent quality measures.
          </p>
          <h2 class="heading">Our Vision</h2>
          <p class="desc">
            To fulfill a latent need for a world class testing lab that offers specialized testing solution.
          </p>
        </div>
      </div>
      <!-- Image Content -->
      <div class="col-12 col-sm-6 col-lg-6 text-center" data-aos="fade-left" data-aos-duration="1000">
        <img src="{% assets 'images/about/mission-vision.png' %}" alt="Vision Mission Strategy Value" class="img-fluid">
      </div>
    </div>
  </div>
</section>
<!-- Mission Vission -->