<!-- Work With Us -->
<section class="section section-gap bg-light">
<div class="container">
  <div class="row align-items-center">
    <!-- Left Section: Title, Description, and Features -->
    <div class="col-12 col-sm-6 col-lg-6">
      <h2 data-aos="fade-up" data-aos-duration="1000">Why work with us?</h2>
      <p data-aos="fade-up" data-aos-duration="1000" class="">Would you be like to be part of an organization that is devoted to excellence in quality and uncompromising
        integrity in its service? Read on...</p>
      <ul class="features-list list-unstyled list-style">
        <li class="secondary-color" data-aos="fade-up" data-aos-duration="1500"><i class="fas fa-check-circle primary-color"></i> Work the way you like</li>
        <li class="secondary-color" data-aos="fade-up" data-aos-duration="1600"><i class="fas fa-check-circle primary-color"></i> Grow and Learn</li>
        <li class="secondary-color" data-aos="fade-up" data-aos-duration="1700"><i class="fas fa-check-circle primary-color"></i> Experience and Enhance</li>
        <li class="secondary-color" data-aos="fade-up" data-aos-duration="1800"><i class="fas fa-check-circle primary-color"></i> Become a Pioneer</li>
        <li class="secondary-color" data-aos="fade-up" data-aos-duration="1900"><i class="fas fa-check-circle primary-color"></i> Excellent Work Vibe</li>
        <li class="secondary-color" data-aos="fade-up" data-aos-duration="2000"><i class="fas fa-check-circle primary-color"></i> Multi-disciplinary Laboratory</li>
      </ul>
    </div>

    <!-- Right Section: Image -->
    <div class="col-12 col-sm-6 col-lg-6">
      <div class="image-container">
        <img src="{% assets 'images/career/work-with-us.png' %}" alt="Why Work With Us" class="img-fluid" data-aos="fade-left" data-aos-duration="1000">
      </div>
    </div>
  </div>
</div>
</section>
<!-- Work With Us -->