<!-- Work Place -->
<section class="section section-gap working-environment">
  <div class="container">
    <div class="row section-content pb-3">
      <div class="col-lg-6">
        <h2 class="heading p-3" data-aos="fade-down" data-aos-duration="1000">A working environment with an unique spirit.</h2>
      </div>
      <div class="col-lg-6">
        <p class="desc p-3" data-aos="fade-up" data-aos-duration="1000">A positive working environment where colleagues are supportive and friendly, leaders and top managers give
          positive motivation in the workplace, and secure work environment.</p>
      </div>
    </div>

    <!-- Image Grid -->
    <div class="row gy-4">
      <div class="col-12 col-md-6 col-lg-3">
        <div class="elevated-card" data-aos="flip-left" data-aos-duration="1000">
          <img src="{% assets 'images/career/free-working-style.jpg' %}" alt="Work Environment 1">
          <div class="overlay" data-aos="fade-up" data-aos-duration="1000">WORK THE WAY YOU LIKE</div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="elevated-card" data-aos="flip-right" data-aos-duration="1000">
          <img src="{% assets 'images/career/grow-and-learn.jpg' %}" alt="Work Environment 2">
          <div class="overlay" data-aos="fade-up" data-aos-duration="1000">GROW & LEARN</div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="elevated-card" data-aos="flip-left" data-aos-duration="1000">
          <img src="{% assets 'images/career/experience.jpg' %}" alt="Work Environment 3">
          <div class="overlay" data-aos="fade-up" data-aos-duration="1000">EXPERIENCE & ENHANCE</div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3" data-aos="flip-right" data-aos-duration="1000">
        <div class="elevated-card">
          <img src="{% assets 'images/career/poineer.jpg' %}" alt="Work Environment 4">
          <div class="overlay" data-aos="fade-up" data-aos-duration="1000">BECOME A PIONEER</div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Work Place -->