<!-- Get in Touch -->
<section class="section section-gap">
  <div class="container">
    <div class="row section-content">
      <div class="col-12 col-sm-6 col-lg-6 d-flex align-items-center">
        <h2 class="heading" data-aos="fade-up" data-aos-duration="1000">Who do you need to get in touch with?</h2>
      </div>
      <div class="col-12 col-sm-6 col-lg-6" data-aos="fade-down" data-aos-duration="1000">
        <div class="mb-4">
          <h3 class="">Contact Us</h3>
          <p class="desc">We Welcome you to contact us at Chemo Test Laboratory. Please reach out to us on below or fill the
            general inquiry form.</p>
        </div>

        <div class="mb-4">
          <h3 class="">Inquiry</h3>
          <p class="desc">Looking for becoming a business partner with us? Contact us at <br/> <a href="mailto:info@chemotestlaboratory.com" class="primary-color text-bold">info@chemotestlaboratory.com </a> or <a href="mailto:turbhe.unit@chemotestlaboratory.com" class="primary-color text-bold"><span>
              turbhe.unit@chemotestlaboratory.com </span></a></p>
        </div>

        <div class="mb-4">
          <h3 class="">General Inquiry</h3>
          <p class="desc">Have a general question for us? Contact us at <br/> <a href="mailto:admin@chemotestlaboratory.com" class="primary-color text-bold">admin@chemotestlaboratory.com</a> or <a href="mailto:adminturbhe@chemotestlaboratory.com" class="primary-color text-bold"><span>adminturbhe@chemotestlaboratory.com</span></a></p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Get in Touch -->