<div class="timeline-container">
  <div class="timeline">
      <div class="timeline-line"></div>
      <button class="timeline-nav nav-prev"><i class="fas fa-chevron-left"></i></button>
      <button class="timeline-nav nav-next"><i class="fas fa-chevron-right"></i></button>
      <div class="timeline-wrapper">
          <div class="timeline-point">
              <div class="timeline-dot"></div>
              <div class="timeline-content">
                  <div class="timeline-year">1984</div>
                  <div class="timeline-text">
                    <p>Laboratory established and started functioning in Mumbai</p>
                    <p>Received approval from Food & Drug administration</p>
                  </div>
              </div>
          </div>
          <div class="timeline-point">
              <div class="timeline-dot"></div>
              <div class="timeline-content">
                  <div class="timeline-year">2000</div>
                  <div class="timeline-text">
                      <p>Started serving the International Market for analytical testing services</p>
                  </div>
              </div>
          </div>

          <div class="timeline-point">
              <div class="timeline-dot"></div>
              <div class="timeline-content">
                  <div class="timeline-year">2003</div>
                  <div class="timeline-text">
                      <p>Certified as per ISO 9000 for QMS</p>
                      <p>Audited and approved by NAFDAC, Govt of Nigeria
                  </div>
              </div>
          </div>
          <div class="timeline-point">
              <div class="timeline-dot"></div>
              <div class="timeline-content">
                  <div class="timeline-year">2013</div>
                  <div class="timeline-text">
                      <p style="text-align: left;">Accredited by NABL as per ISO/IEC 17025</p>
                  </div>
              </div>
          </div>

          <div class="timeline-point">
            <div class="timeline-dot"></div>
            <div class="timeline-content">
              <div class="timeline-year">2014</div>
              <div class="timeline-text">
                <p>New Testing facility built in Navi Mumbai</p>
              </div>
            </div>
          </div>

          <div class="timeline-point">
            <div class="timeline-dot"></div>
            <div class="timeline-content">
              <div class="timeline-year">2015</div>
              <div class="timeline-text">
                <p style="text-align: left;">Received approval from Food and Drug administration in Navi Mumbai facility</p>
                <p>Started stability studies.</p>
              </div>
            </div>
          </div>

          <div class="timeline-point">
            <div class="timeline-dot"></div>
            <div class="timeline-content">
              <div class="timeline-year">2016</div>
              <div class="timeline-text">
                <p style="text-align: left;">Accredited by NABL as per ISO/IEC 17025 at Navi Mumbai facility</p>
                <p>Audited and approved by Ministry of Health, Ukraine & Mozambique</p>
                <p>Audited and approved by Surveyors, France</p>
              </div>
            </div>
          </div>

          <div class="timeline-point">
            <div class="timeline-dot"></div>
            <div class="timeline-content">
              <div class="timeline-year">2017</div>
              <div class="timeline-text">
                <p style="text-align: left;">Analytical method validation as per ICH, WHO Geneva & USFDA</p>
              </div>
            </div>
          </div>

          <div class="timeline-point">
            <div class="timeline-dot"></div>
            <div class="timeline-content">
              <div class="timeline-year">2021</div>
              <div class="timeline-text">
                <p style="text-align: left;">Accredited by NABL as per ISO 17025:2017 in Navi Mumbai facility for Food and Agricultural commodities</p>
                <p>Pawane unit registered for USFDA. DUNS Number: 85-424-7369 FEI: 3020879673</p>
              </div>
            </div>
          </div>

          <div class="timeline-point">
            <div class="timeline-dot"></div>
            <div class="timeline-content">
              <div class="timeline-year">2022</div>
              <div class="timeline-text">
                <p style="text-align: left;">Expansion of facility at Navi Mumbai with state of art Microbiology and sterility section.</p>
              </div>
            </div>
          </div>

          <div class="timeline-point">
            <div class="timeline-dot"></div>
            <div class="timeline-content">
              <div class="timeline-year">2023</div>
              <div class="timeline-text">
                <p style="text-align: left;">Approved by the Ministry of Gambia</p>
                <p>NABL Scope extension for biological parameters for Food, Pharma & Cosmetics</p>
                <p>Procurement of additional LCMSMS, ICPMSMS, and AAS for metal analysis</p>
              </div>
            </div>
          </div>

          <div class="timeline-point">
            <div class="timeline-dot"></div>
            <div class="timeline-content">
              <div class="timeline-year">2024</div>
              <div class="timeline-text">
                <p style="text-align: left;">Procurement of additional Agilent HPLC and GC</p>
                <p>Agilent Server Chromation installed</p>
                <p>Applied for testing of Medical Devices</p>
                <p>Applied for FSSAI</p>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>