<section class="section section-gap">
  <div class="container">
    <div class="section-heading text-center">
      <h4 data-aos="fade-up" data-aos-duration="1000">What They Say</h4>
      <h2 data-aos="fade-up" data-aos-duration="1000">Happy & Insured</h2>
    </div>

    <div class="row gy-5 py-5">
      <!-- Card 1 -->
      <div class="col-sm-4 col-lg-4">
        <div class="testimonial-card">
          <h4>Aziz Rahemani</h4>
          <span>Prince Farma, Ministry of Health Angola</span>
          <p>"Very nice setup and we thank you for everything."</p>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="col-sm-4 col-lg-4">
        <div class="testimonial-card">
          <h4>Miguel Dos Santos De Oliveria</h4>
          <span>General Inspector of Health, Ministry of Health, Angola</span>
          <p>"Excellent lab."</p>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="col-sm-4 col-lg-4">
        <div class="testimonial-card">
          <h4>Jean Marc</h4>
          <span>Servier France</span>
          <p>
            "Thank you to all the team which seems to be well-motivated to start a new collaboration with a French
            laboratory. I wish you all the best! I hope to see you in a few months."
          </p>
        </div>
      </div>

      <!-- Card 4 -->
      <div class="col-sm-4 col-lg-4">
        <div class="testimonial-card">
          <h4>Dattaraya Kumbhar</h4>
          <span>Glenmark</span>
          <p>"Lab is well-equipped with new sophisticated instruments."</p>
        </div>
      </div>

      <!-- Card 5 -->
      <div class="col-sm-4 col-lg-4">
        <div class="testimonial-card">
          <h4>Pushpa K</h4>
          <span>Reliance Life Sciences</span>
          <p>"Very nice facility, well-equipped."</p>
        </div>
      </div>

      <!-- Card 6 -->
      <div class="col-sm-4 col-lg-4">
        <div class="testimonial-card">
          <h4>Ritesh Pansare</h4>
          <span>USV Limited</span>
          <p>"Lab setup is excellent and the employees are very cooperative."</p>
        </div>
      </div>

      <!-- Card 7 -->
      <div class="col-sm-4 col-lg-4">
        <div class="testimonial-card">
          <h4>Sugandha Kubal</h4>
          <span>Pfizer Ltd</span>
          <p>“Good setup with few more new instruments can be made better. Lot of scope for expansion, would like to see good
          facility very soon.”</p>
        </div>
      </div>

      <!-- Card 8 -->
      <div class="col-sm-4 col-lg-4">
        <div class="testimonial-card">
          <h4>Dr. Bijendra Kumar</h4>
          <span>Lead Assessor, NABL</span>
          <p>“The lab, lab personnel are very cooperative. Development of lab and its layout is at par with the leading lab of the
          country.”</p>
        </div>
      </div>

      <!-- Card 9 -->
      <div class="col-sm-4 col-lg-4">
        <div class="testimonial-card">
          <h4>Umesh B</h4>
          <span>Bharat Serums and Vaccines</span>
          <p>“Thanks and we are glad to send samples for analysis at your new lab."</p>
        </div>
      </div>

      <!-- Card 10 -->
      <div class="col-sm-4 col-lg-4">
        <div class="testimonial-card">
          <h4>Rohit Purake</h4>
          <span>Wockhardt Ltd.</span>
          <p>“Good facility with good instruments.”</p>
        </div>
      </div>

      <!-- Card 11 -->
      <div class="col-sm-4 col-lg-4">
        <div class="testimonial-card">
          <h4>S.B. Bhalerao</h4>
          <span>Glenmark Pharmaceuticals</span>
          <p>“Well maintained lab with good documentation.”</p>
        </div>
      </div>

      <!-- Card 12 -->
      <div class="col-sm-4 col-lg-4">
        <div class="testimonial-card">
          <h4>Hemant Ghadge</h4>
          <span>Merck Ltd</span>
          <p>“Good facility with good instruments.”</p>
        </div>
      </div>

      <!-- Card 13 -->
      <div class="col-md-6">
        <div class="testimonial-card">
          <h4>A. Victor</h4>
          <span>NAFDAC</span>
          <p>“Impressed with the progress of the lab. Thefacilities, processes and personnel is found satisfactory.”</p>
        </div>
      </div>

      <!-- Card 14 -->
      <div class="col-md-6">
        <div class="testimonial-card">
          <h4>Shashikant Ghare</h4>
          <span>Ajanta Pharma Ltd</span>
          <p>“Very good lab with all necessary requirements for sophisticated testing requirements. Well trained staffs.”</p>
        </div>
      </div>

    </div>
  </div>
</section>