<!-- Banner -->
<section class="hero-section">
  <div class="container">
    <div class="row align-items-center pt-3 pb-5">
      <div class="col-12 col-sm-6 col-lg-6 mb">
        <div class="hero-content">
          <h1 data-aos="fade-up" data-aos-duration="1000">Our Licenses and Certifications</h1>
          <p data-aos="fade-up" data-aos-duration="1500">COMMITMENT * CONSISTENCY * CREDIBILITY</p>

          {% include "../common/action.html" %}

        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-6 mt-5 my-sm-5 pt-3">
        <div class="hero-image" data-aos="zoom-in-left" data-aos-duration="1000">
          <img src="{% assets 'images/accreditation/banner.png' %}" alt="Laboratory Equipment" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Banner -->