<section class="section section-gap testing-facility-section mt-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-lg-6 order-1 order-lg-1">
        <div class="section-content">
          <h2 class="heading" data-aos="fade-up" data-aos-duration="1000">Approved Testing Facility By</h2>

          <ul class="list-unstyled list-style facility-list">
            <li>
              <i aria-hidden="true" class="fas fa-star"></i>
              NAFDAC – Govt. of Nigeria
            </li>
            <li>
              <i aria-hidden="true" class="fas fa-star"></i>
              Ministry of Health – Govt. of Mozambique
            </li>

            <li>
              <i aria-hidden="true" class="fas fa-star"></i>
              Survieors France
            </li>
            <li>
              <i aria-hidden="true" class="fas fa-star"></i>
              Ministry of Health, Govt. of Ukraine
            </li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-6 order-2 order-lg-2 text-center">
        <img src="{% assets 'images/accreditation/accreditations-approved.png' %}" alt="Vision Mission Strategy Value" class="img-fluid">
      </div>
    </div>
  </div>
</section>