<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light p-4">
  <div class="container">
    <a class="navbar-brand d-none d-md-block" href="/">
      <img src="{% assets 'images/logo.png' %}" class="image-fluid" alt="Chemo Test Laboratory">
    </a>
    <a class="navbar-brand d-md-none mx-auto" href="/">
      <img src="{% assets 'images/logo-mobile.png' %}" class="image-fluid" alt="Chemo Test Laboratory">
    </a>
    <a class="ham-menu" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <div class="hamburger-menu">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item drop-down">
          <a class="nav-link dropdown-toggle" href="/about/" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">About Us</a>

          <ul class="dropdown-menu">
            <a class="nav-link" href="/about/">About Us</a>
            <li><a class="dropdown-item" href="/about/organisation-overview/">Organisation Overview</a></li>
            <li><a class="dropdown-item" href="/about/gallery/">Gallery</a></li>
            <li><a class="dropdown-item" href="/about/testimonials/">Testimonials</a></li>
            <li><a class="dropdown-item" href="/about/accreditation/">Accreditation</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/services/">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/career">Career</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact/">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="offcanvas offcanvas-start bg-secondary" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
  <div class="offcanvas-header">
    <img src="{% assets 'images/logo-white-mobile.png' %}" alt="Chemo Test Laboratory">
    <a href="#" class="close" data-bs-dismiss="offcanvas" aria-label="Close">
      <i class="fas fa-times"></i>
    </a>
  </div>
  <div class="offcanvas-body">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item drop-down">
        <a class="nav-link dropdown-toggle" href="/about/" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">About us</a>
        <ul class="dropdown-menu">
          <a class="dropdown-item" href="/about/">About Us</a>
          <li><a class="dropdown-item" href="/about/organisation-overview/">Organisation Overview</a></li>
          <li><a class="dropdown-item" href="/about/gallery/">Gallery</a></li>
          <li><a class="dropdown-item" href="/about/testimonials/">Testimonials</a></li>
          <li><a class="dropdown-item" href="/about/accreditation/">Accreditation</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/services/">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/career/">Career</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact/">Contact us</a>
      </li>
    </ul>
  </div>
</div>
<!-- Header -->

<script>
  $(document).ready(function() {
    function setActiveLink() {
      var currentUrl = window.location.pathname;
      $('.navbar-nav .nav-link').each(function() {
        if ($(this).attr('href') === currentUrl) {
          $(this).addClass('active');
        } else {
          $(this).removeClass('active');
        }
      });
    }

    setActiveLink();

    $(window).on('popstate', function() {
      setActiveLink();
    });
  });
</script>