<!-- Why Choose Us -->
<section class="section section-gap">
  <div class="container">
    <div class="section-content" data-aos="fade-up" data-aos-duration="1000">
      <h2 class="heading">Why Choose Us?</h2>
    </div>
    <div class="row align-items-center">
      <!-- Left Column: Features -->
      <div class="col-lg-6 left-section">
        <ul class="list-unstyled list-style">
          <li data-aos="fade-up" data-aos-duration="1100">
            <span class="list-icon primary-color">
              <i aria-hidden="true" class="fas fa-hand-point-right"></i>
            </span>
          You Talk, We Listen
          </li>
          <li data-aos="fade-up" data-aos-duration="1200">
            <span class="list-icon primary-color">
              <i aria-hidden="true" class="fas fa-hand-point-right"></i>
            </span>
            We Deliver on Time</li>
          <li data-aos="fade-up" data-aos-duration="1300">
            <span class="list-icon primary-color">
              <i aria-hidden="true" class="fas fa-hand-point-right"></i>
            </span>
            We believe in Commitment-Consistency-Credibility</li>
          <li data-aos="fade-up" data-aos-duration="1400">
            <span class="list-icon primary-color">
              <i aria-hidden="true" class="fas fa-hand-point-right"></i>
            </span>
            4+ decades of hands-on-experience</li>
          <li data-aos="fade-up" data-aos-duration="1500">
            <span class="list-icon primary-color">
              <i aria-hidden="true" class="fas fa-hand-point-right"></i>
            </span>
            We understand the requirements of customers, regulatory and statutory bodies</li>
          <li data-aos="fade-up" data-aos-duration="1600">
            <span class="list-icon primary-color">
              <i aria-hidden="true" class="fas fa-hand-point-right"></i>
            </span>
            We keep all your data confidential</li>
        </ul>
      </div>

      <!-- Right Column: Images -->
      <div class="col-lg-6 images">
        <div class="frame"><img src="{% assets 'images/services/lab-1.jpg' %}" class="w-100 rounded img-fluid" alt="Laboratory" data-aos="fade-left" data-aos-duration="1500"></div>
      </div>

      <div class="col-6 image my-5">
        <div class="frame"><img src="{% assets 'images/services/lab-2.png' %}" class="w-100 rounded img-fluid" alt="Laboratory" data-aos="fade-up" data-aos-duration="2000"></div>
      </div>
      <div class="col-6 image my-5">
        <div class="frame"><img src="{% assets 'images/services/lab-3.png' %}" class="w-100 rounded img-fluid" alt="Laboratory" data-aos="fade-up" data-aos-duration="2000"></div>
      </div>

      <div class="col-6">
        <ul class="list-unstyled list-style">
          <li data-aos="fade-up" data-aos-duration="1700">
            <span class="list-icon primary-color">
              <i aria-hidden="true" class="fas fa-hand-point-right"></i>
            </span>
            Data integrity is our top priority</li>
          <li data-aos="fade-up" data-aos-duration="1800">
            <span class="list-icon primary-color">
              <i aria-hidden="true" class="fas fa-hand-point-right"></i>
            </span>
            Our infrastructure facilitates suitability for all kinds of samples</li>
          <li data-aos="fade-up" data-aos-duration="1900">
            <span class="list-icon primary-color">
              <i aria-hidden="true" class="fas fa-hand-point-right"></i>
            </span>
            Team well led by qualified and trained professionals</li>
          <li data-aos="fade-up" data-aos-duration="2000">
            <span class="list-icon primary-color">
              <i aria-hidden="true" class="fas fa-hand-point-right"></i>
            </span>
            Customer satisfaction is our motto</li>
          <li data-aos="fade-up" data-aos-duration="2100">
            <span class="list-icon primary-color">
              <i aria-hidden="true" class="fas fa-hand-point-right"></i>
            </span>
            Our morals revolve around staying authentic in services</li>
        </ul>
      </div>

      <div class="col-6">
        <ul class="list-unstyled list-style">
          <li data-aos="fade-up" data-aos-duration="2200">
            <span class="list-icon primary-color">
              <i aria-hidden="true" class="fas fa-hand-point-right"></i>
            </span>
            Wide range of sophisticated instruments and techniques available</li>
          <li data-aos="fade-up" data-aos-duration="2300">
            <span class="list-icon primary-color">
              <i aria-hidden="true" class="fas fa-hand-point-right"></i>
            </span>
            Compliance and regulatory capabilities</li>
          <li data-aos="fade-up" data-aos-duration="2400">
            <span class="list-icon primary-color">
              <i aria-hidden="true" class="fas fa-hand-point-right"></i>
            </span>
            Quality Driven Organisation</li>
          <li data-aos="fade-up" data-aos-duration="2500">
            <span class="list-icon primary-color">
              <i aria-hidden="true" class="fas fa-hand-point-right"></i>
            </span>
            We are Recognized</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Why Choose Us -->