<!-- Services -->
<section id="services" class="section section-gap">
  <div class="container">
    <div class="section-content text-center mb-5">
      <h2 data-aos="fade-up" data-aos-duration="1000">We Offer a Wide Variety of Services</h2>
    </div>
    <div class="services-grid" data-aos="fade-up" data-aos-duration="2000">
      <div class="service-card">
        <div class="service-icon">
          <i aria-hidden="true" class="fas fa-pump-medical"></i>
        </div>
        <h3>Pharmaceutical & Cosmetics Testing</h3>
        <p>Qualitative and quantitative tests both chemical and microbiological, complex non-compendial methods for
          assay and related substances, etc.</p>
      </div>

      <div class="service-card">
        <div class="service-icon">
          <i aria-hidden="true" class="fas fa-cubes"></i>
        </div>
        <h3>Food & Agriculture Testing</h3>
        <p>Qualitative and quantitative tests both chemical and microbiological, nutritional value or facts estimation,
          vitamins estimation in fortified foods, etc.</p>
      </div>

      <div class="service-card">
        <div class="service-icon">
          <i aria-hidden="true" class="fas fa-globe"></i>
        </div>
        <h3>Packaging material Testing</h3>
        <p>Physical tests and chemical tests. Specific migration tests, identification of packaging materials by DTA and
          FTIR, etc.</p>
      </div>

      <div class="service-card">
        <div class="service-icon">
          <i aria-hidden="true" class="fas fa-folder-open"></i>
        </div>
        <h3>Impurity and Elemental Profiling</h3>
        <p>Using LC, MS, LC-MS, GC-MS, ICPOES, ICPMS, LC-MS/MS, LC-Q-TOF, UPLC-MS/MS, UPLC, Q-TOF, etc.</p>
      </div>

      <div class="service-card">
        <div class="service-icon">
          <i aria-hidden="true" class="fas fa-vector-square"></i>
        </div>
        <h3>Medical devices Testing</h3>
        <p>For biocompatibility assessment, Physio-chemical tests, etc.</p>
      </div>

      <div class="service-card">
        <div class="service-icon">
          <i aria-hidden="true" class="fas fa-window-restore"></i>
        </div>
        <h3>Container stuffing & sealing</h3>
        <p>For Export containers and witness sampling certified by NABL and FDA</p>
      </div>

      <div class="service-card">
        <div class="service-icon">
          <i aria-hidden="true" class="fas fa-folder-open"></i>
        </div>
        <h3>Stability Studies</h3>
        <p>Storage / analysis for required temperature, humidity, time period.</p>
      </div>

      <div class="service-card">
        <div class="service-icon">
         <i aria-hidden="true" class="fas fa-pump-medical"></i>
       </div>
        <h3>Physical Inspection & Survey</h3>
        <p>For Export oriented services</p>
      </div>

      <div class="service-card">
        <div class="service-icon">
          <i aria-hidden="true" class="fas fa-cubes"></i>
        </div>
        <h3>Sampling & Sealing</h3>
        <p>For Export oriented services</p>
      </div>

    <div class="service-card">
      <div class="service-icon">
        <i aria-hidden="true" class="fas fa-window-restore"></i>
      </div>
      <h3>Analytical Method Development & Validation</h3>
      <p>As required by the customers for all key parameters</p>
    </div>

    <div class="service-card">
      <div class="service-icon">
        <i aria-hidden="true" class="fas fa-vector-square"></i>
      </div>
      <h3>Elemental Impurities by ICH guidelines</h3>
      <p>Using ICP instrumental techniques</p>
    </div>

    <div class="service-card">
      <div class="service-icon">
        <i aria-hidden="true" class="fas fa-globe"></i>
      </div>
      <h3>Training</h3>
      <p>General, technical, Quality Assurance and administrative trainings.</p>
    </div>

  </div>
</section>
<!-- Services -->