{% extends "base.html" %}

{% block title %} Accreditation {% endblock %}

{% block css %}
  <link rel="stylesheet" href="https://unpkg.com/nanogallery2/dist/css/nanogallery2.min.css">
{% endblock %}

{% block content %}

{% include "includes/accreditation/banner.html" %}

{% include "includes/accreditation/testing-facility.html" %}

{% include "includes/accreditation/accreditation.html" %}

{% include "includes/common/cta.html" %}

{% block script %}
<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Include nanogallery2 CSS and JS -->
<script src="https://unpkg.com/nanogallery2/dist/jquery.nanogallery2.min.js"></script>
{% endblock %}


{% endblock %}