<!-- Banner -->
<section class="hero-section">
  <div class="container">
    <div class="row align-items-center py-5">
      <div class="col-12 col-sm-6 col-lg-6">
        <div class="hero-content">
          <h1 data-aos="fade-up" data-aos-duration="1000">Welcome to Chemo Test Laboratory Family</h1>
          <p data-aos="fade-up" data-aos-duration="1500">Come take a glance at our premises, set-up and people!</p>

          {% include "../common/action.html" %}

        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-6 my-5">
        <div class="hero-image" data-aos="zoom-in-left" data-aos-duration="1000">
          <img src="{% assets 'images/gallery/banner.png' %}" alt="Laboratory Equipment" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Banner -->