<!-- Fun -->
<section class="section section-gap">
  <div class="container">
    <div class="section-content text-center mb-4">
      <h2 class="heading" data-aos="fade-up" data-aos-duration="1000">Fun Time</h2>
    </div>

    <!-- Fun Images -->
    <div data-nanogallery2>
      <a href="{% assets 'images/gallery/fun/fun-1.jpg' %}" data-ngthumb="{% assets 'images/gallery/fun/fun-1.jpg' %}"></a>
      <a href="{% assets 'images/gallery/fun/fun-2.jpg' %}" data-ngthumb="{% assets 'images/gallery/fun/fun-2.jpg' %}"></a>
      <a href="{% assets 'images/gallery/fun/fun-3.jpg' %}" data-ngthumb="{% assets 'images/gallery/fun/fun-3.jpg' %}"></a>
      <a href="{% assets 'images/gallery/fun/fun-4.jpg' %}" data-ngthumb="{% assets 'images/gallery/fun/fun-4.jpg' %}"></a>
      <a href="{% assets 'images/gallery/fun/fun-5.jpg' %}" data-ngthumb="{% assets 'images/gallery/fun/fun-5.jpg' %}"></a>
      <a href="{% assets 'images/gallery/fun/fun-6.jpg' %}" data-ngthumb="{% assets 'images/gallery/fun/fun-6.jpg' %}"></a>
      <a href="{% assets 'images/gallery/fun/fun-7.jpg' %}" data-ngthumb="{% assets 'images/gallery/fun/fun-7.jpg' %}"></a>
      <a href="{% assets 'images/gallery/fun/fun-8.jpg' %}" data-ngthumb="{% assets 'images/gallery/fun/fun-8.jpg' %}"></a>
      <a href="{% assets 'images/gallery/fun/fun-9.jpg' %}" data-ngthumb="{% assets 'images/gallery/fun/fun-9.jpg' %}"></a>
      <a href="{% assets 'images/gallery/fun/fun-10.jpg' %}" data-ngthumb="{% assets 'images/gallery/fun/fun-10.jpg' %}"></a>
      <a href="{% assets 'images/gallery/fun/fun-11.jpg' %}" data-ngthumb="{% assets 'images/gallery/fun/fun-11.jpg' %}"></a>
      <a href="{% assets 'images/gallery/fun/fun-12.jpg' %}" data-ngthumb="{% assets 'images/gallery/fun/fun-12.jpg' %}"></a>
      <a href="{% assets 'images/gallery/fun/fun-13.jpg' %}" data-ngthumb="{% assets 'images/gallery/fun/fun-13.jpg' %}"></a>
      <a href="{% assets 'images/gallery/fun/fun-14.jpg' %}" data-ngthumb="{% assets 'images/gallery/fun/fun-14.jpg' %}"></a>
    </div>
    <!-- Fun Images -->
</section>