<div id="modal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="modal-content">
</div>

<section class="section section-gap">
  <div class="container">
    <div class="section-content text-center mb-4">
      <h2 class="heading" data-aos="fade-down" data-aos-duration="1000">Our Lab</h2>
    </div>

    <!-- Lab Images -->
    <div data-nanogallery2>
      <a href="{% assets 'images/gallery/lab/lab-1.jpg' %}" data-ngthumb="{% assets 'images/gallery/lab/lab-1.jpg' %}"></a>
      <a href="{% assets 'images/gallery/lab/lab-2.jpg' %}" data-ngthumb="{% assets 'images/gallery/lab/lab-2.jpg' %}"></a>
      <a href="{% assets 'images/gallery/lab/lab-3.jpg' %}" data-ngthumb="{% assets 'images/gallery/lab/lab-3.jpg' %}"></a>
      <a href="{% assets 'images/gallery/lab/lab-4.jpg' %}" data-ngthumb="{% assets 'images/gallery/lab/lab-4.jpg' %}"></a>
      <a href="{% assets 'images/gallery/lab/lab-5.jpg' %}" data-ngthumb="{% assets 'images/gallery/lab/lab-5.jpg' %}"></a>
      <a href="{% assets 'images/gallery/lab/lab-6.jpg' %}" data-ngthumb="{% assets 'images/gallery/lab/lab-6.jpg' %}"></a>
      <a href="{% assets 'images/gallery/lab/lab-7.jpg' %}" data-ngthumb="{% assets 'images/gallery/lab/lab-7.jpg' %}"></a>
      <a href="{% assets 'images/gallery/lab/lab-8.jpg' %}" data-ngthumb="{% assets 'images/gallery/lab/lab-8.jpg' %}"></a>
      <a href="{% assets 'images/gallery/lab/lab-9.jpg' %}" data-ngthumb="{% assets 'images/gallery/lab/lab-9.jpg' %}"></a>
      <a href="{% assets 'images/gallery/lab/lab-10.jpg' %}" data-ngthumb="{% assets 'images/gallery/lab/lab-10.jpg' %}"></a>
      <a href="{% assets 'images/gallery/lab/lab-11.jpg' %}" data-ngthumb="{% assets 'images/gallery/lab/lab-11.jpg' %}"></a>
      <a href="{% assets 'images/gallery/lab/lab-12.jpg' %}" data-ngthumb="{% assets 'images/gallery/lab/lab-12.jpg' %}"></a>
      <a href="{% assets 'images/gallery/lab/lab-13.jpg' %}" data-ngthumb="{% assets 'images/gallery/lab/lab-13.jpg' %}"></a>
      <a href="{% assets 'images/gallery/lab/lab-14.jpg' %}" data-ngthumb="{% assets 'images/gallery/lab/lab-14.jpg' %}"></a>
      <a href="{% assets 'images/gallery/lab/lab-15.jpg' %}" data-ngthumb="{% assets 'images/gallery/lab/lab-15.jpg' %}"></a>
      <a href="{% assets 'images/gallery/lab/lab-16.jpg' %}" data-ngthumb="{% assets 'images/gallery/lab/lab-16.jpg' %}"></a>
      <a href="{% assets 'images/gallery/lab/lab-17.jpg' %}" data-ngthumb="{% assets 'images/gallery/lab/lab-17.jpg' %}"></a>
      <a href="{% assets 'images/gallery/lab/lab-18.jpg' %}" data-ngthumb="{% assets 'images/gallery/lab/lab-18.jpg' %}"></a>
      <a href="{% assets 'images/gallery/lab/lab-19.jpg' %}" data-ngthumb="{% assets 'images/gallery/lab/lab-19.jpg' %}"></a>
      <a href="{% assets 'images/gallery/lab/lab-20.jpg' %}" data-ngthumb="{% assets 'images/gallery/lab/lab-20.jpg' %}"></a>
    </div>
    <!-- Lab Images -->
</section>