<!-- Mangt section -->
<section class="section">
  <div class="container">
    <div class="section-content text-center mb-4">
      <h2 class="heading" data-aos="fade-up" data-aos-duration="1000">Our Management</h2>
    </div>

    <!-- Mangt Images -->
    <div data-nanogallery2>
      <a href="{% assets 'images/gallery/mangt/mangt-1.jpg' %}" data-ngthumb="{% assets 'images/gallery/mangt/mangt-1.jpg' %}"></a>
      <a href="{% assets 'images/gallery/mangt/mangt-2.jpg' %}" data-ngthumb="{% assets 'images/gallery/mangt/mangt-2.jpg' %}"></a>
      <a href="{% assets 'images/gallery/mangt/mangt-3.jpg' %}" data-ngthumb="{% assets 'images/gallery/mangt/mangt-3.jpg' %}"></a>
      <a href="{% assets 'images/gallery/mangt/mangt-4.png' %}" data-ngthumb="{% assets 'images/gallery/mangt/mangt-4.png' %}"></a>
      <a href="{% assets 'images/gallery/mangt/mangt-5.png' %}" data-ngthumb="{% assets 'images/gallery/mangt/mangt-5.png' %}"></a>
    </div>
    <!-- Mangt Images -->
</section>